<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.4.1" targetFramework="net462" />
  <package id="Google.Protobuf.Tools" version="3.4.0" targetFramework="net462" />
  <package id="Kognifai.Edge.Serialization" version="0.1.9-beta01" targetFramework="net462" />
  <package id="Kognifai.M2Mqtt" version="0.0.3-beta01" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
</packages>